<div class="row">
  <h2 class="col s6">Dishes</h2>
  <div class="col s6 nav-wrapper">
    <ul>
      <li>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </li>
    </ul>
  </div>
</div>
<%= react_component("DishesIndex") %>
