.index-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  border-left: 1px dashed rgba(0,0,0,.1);
  .set-info {
    font-family: "Montserrat";
  }
}

.dish-page {
  position: relative;
  min-height: 100vh;

  p.description {
    min-height: 3rem;
    font-size: 16px;
    margin-bottom: 1.2rem;
  }
}

.dish-page.s-editable {
  h4 {
    margin-top: 1.2rem;     
    margin-bottom: 0.07rem;
  }

  input {
    font-size: unset !important;
    font-family: unset !important;
    font-weight: unset !important;
    font-color: unset !important;
  }
  
  p.description {
    font-family: unset !important;
    font-weight: unset !important;
    margin-bottom: 0;
    textarea {
      padding: .2rem 0 .1rem;
      margin: 0;
    }
  }

}
