.index-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  border-left: 1px dashed rgba(0,0,0,.1);
  .set-info {
    font-family: "Montserrat";
  }
}

.dish-page {
  position: relative;
  min-height: 100vh;

  p.description {
    min-height: 50px;
    font-size: 16px;
    margin: 0 0 22px 0;
  }

  .ingredients {
    .title span {
      font-size: 16px;
      font-family: "Cutive Mono";
      float: right;
      font-weight: bold;
    }
  }

  .recipes {
    .placeholder {
      font-size: 18px;
      font-family: "Cutive Mono";
    }
  }
}

.dish-page {
  & > .row > .ingredients {
    li.ingredient {
      font-size: 20px;
      padding-left: 10px;
      border-bottom: none;
      text-shadow: 1px 1px 0px rgba(255,255,255,.2);
      text-transform: capitalize;
    
      &:nth-child(even) {
        background: #fff;
      }
      &:nth-child(odd) {
        background: #fafafa;
      }
    }
  }
}

.dish-page.s-editable {
  .name {
    margin-top: 1.2rem;     
    margin-bottom: 0.07rem;
    text-shadow: 1px 1px rgba(255,255,255,.8);
    
    input {
      background: #fafafa;
      color: #555;
      font-size: unset !important;
      font-family: unset !important;
      font-weight: unset !important;
      font-color: unset !important;
    }
  }

  p.description {
    font-family: unset !important;
    font-weight: unset !important;
    margin-bottom: 0;

    textarea {
      background: #fafafa;
      color: #555;
      min-height: 50px;
      line-height: 24px !important;
      padding: 0 0 12px;
      margin: 0;
    }
  }
 
}
