// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.ingredients {
  font-family: "Cutive Mono";

  li.placeholder {
    font-size: 18px;
  }
  
  li.ingredient-group {
    font-size: 20px;
    border-bottom: 2px solid rgba(0,0,0,.05);
    margin: .5em 0 0;
  }

  li.ingredient {
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 2px solid rgba(0,0,0,.02);
    text-shadow: 1px 1px 0px rgba(255,255,255,.2);
    text-transform: capitalize;
  
    &:nth-child(even) {
      background: lighten(#c8e6c9, 13);
    }
    &:nth-child(odd) {
      background: #e8f5e9;
    }

    .quantity {
      float: right;
      position: relative;
      padding: 0 5px 0 0;
      width: 90px;
      text-shadow: 1px 1px 0 rgba(255,255,255,1);
      border-left: 2px solid rgba(0,0,0,.05);

      .value {
        color: #464;
        font-weight: bold;
        padding: 0 .2em;
      }

      .unit {
        color: #444;
        font-size: 14px;
        vertical-align: top;
      }
    }
  }

  li.add {
    position: relative;
  }

  li.add-input {
    font-family: "Cutive Mono";

    input {
      padding: 0 10px 0 10px;
      width: calc(100% - 20px);
    }
  }
}

