/*
 * Color Palette from https://www.colourlovers.com/palette/49963/let_them_eat_cake
 * banquette: #774F38
 * strawberry: #E08E79
 * creme dlc: #F1D4AF
 * powderpuff: #ECE5CE
 * charlotte: #C5E0DC
 *
 */

@import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,800';
@import "https://fonts.googleapis.com/css?family=Squada+One";
@import 'https://fonts.googleapis.com/css?family=Cutive+Mono';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  .nav-wrapper {
    background-color: #E08E79;
    border-bottom: 2px solid rgba(0,0,0,.5);
  }
}

.footer-copyright {
  font-family: 'Montserrat';
  font-weight: 100 !important;
}

#brand-logo img {
  width: 80px;
  height: 80px;
}

#brand-name {
  font-family: 'Squada One';
  margin-left: 1em;
}

.blocktitle {
  font-family: 'Squada One';
  font-size: 42px;
  padding: 10px 20px;
  border-radius: 10px;
}

h1 {
  font-family: 'Squada One';
}

h2 {
  font-family: 'Montserrat';
  font-weight: 100 !important;
  color: #774F38;
}

.dishes-index-menu {
  display: flex;
}
