.row.recipe {
  .name {
    background: rgba(0,0,0,.05);
    padding: 0 10px;
    display: inline;
  }

  .description {
    font-size: 14px;
  }

  .step-duration {
    color: #bcbcbc;

    span {
      font-size: 14px;
    }
  }
  
  &.as-step {
    .collection {
      border: none;
    }
    .collection li {
      border-top: 1px solid rgba(0,0,0,.1);
    }
  }

  .row.recipe_step {
    &.is-recipe {
      padding-right: 0;
    }
  }
}
