.row.recipe {
  .title {
    font-weight: 500;
    color: #555;
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }

  .step-duration {
    display: inline;
    float: left;
    color: #8c8cbc;

    span {
      font-size: 14px;
    }
  }
  
  &.as-step {
    .collection {
      border: none;
      padding-left: 20px;
    }
    .collection li {
      padding-left: 20px;
      border-top: 1px solid rgba(0,0,0,.1);
    }
  }

  .row.recipe_step {
    padding-left: 20px;

    &.is-recipe {
      padding-right: 0;
    }
  }
}
