.row.recipe {
  .name {
    border-bottom: 2px solid rgba(0,0,0,.1);
  }

  .description {
    font-size: 14px;
  }

  .step-duration {
    position: relative;
    overflow: visible !important;

    span {
      position: absolute;
      left: calc(100% + 5px);
      font-size: 14px;
    }
  }
}
